.Join_main {
  width: 65%;
  margin: 0 auto;
  padding: 100px 20px;
  font-family: 'Arial', sans-serif;
  color: #11574A;
  
}

.Join_text{
flex-direction: column;
  display: flex;
  text-align: left;
  margin-bottom: 50px;
}

.Join_main h1,
.Join_main h3,
.form_box label,
.Join_main button {
  text-align: left;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 30px;
}

.Join{
font-size: 50px;
font-weight: 600;
}
.Join_k{
  font-size: 20px;
  font-weight: 600;
}

.form_box {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
  margin-bottom: 20px;
}

.form_box input {
  width: 97%;
  padding: 10px 12px; /* 상하 패딩 늘림, 좌우는 적당히 */
  border: 1px solid #dcdcdc;
  border-bottom: 1px solid #ddd; /* 하단 선만 표시 */
  background-color: #fff;/* transparent; 입력 필드 배경 투명하게 */
  font-size: 16px;
  box-sizing: border-box;
  outline: none; /* 포커스 시 기본 아웃라인 제거 */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom:10px;
}

.Join_main button{
    width: 96%;
  padding: 10px 20px;
  background-color: #fff; /* 이미지의 버튼 배경색 (흰색) */
  color: #555; /* 이미지의 버튼 글자색 */
  border: 1px solid #ccc; /* 이미지의 버튼 테두리 */
  border-radius: 30px; /* 매우 둥근 모서리 */
  font-size: 16px;
  font-weight: 500;
  text-align: center; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  margin-top: 15px;
}

.signup-profileImg-label {
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}

 .signup-profileImg-input {
  display: none;
}
